.EnterpriseRoaster__mainContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
  }
  
  .EnterpriseRoaster__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .EnterpriseRoaster__body {
    flex-grow: 1;
 
    overflow-y: auto;
  }
  
  .EnterpriseRoaster__title {
    height: 72px; /* Set the title div height */
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
   
  }
  
  .EnterpriseRoaster__title h4 {
    margin: 20px; /* Removes any default margin from h4 */
  }
  
 