@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.Roaster__mainContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", serif;

}

.Roaster__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Roaster__content a {
  text-decoration: none;
  color: inherit;
}

.Roaster__mainContainer > .Components__SideBar {
  width: 250px;
  height: 100%;
}

.Roaster__mainContainer > .Components__Header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid black;
}

.Roaster__body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.Roaster__body h2 {
  margin-bottom: 20px;
}


.Roaster__creationTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .Roaster__title__roaster__button{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .Roaster__Button{
    height: 40px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  .Roaster__label{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
  
  .Roaster__numEmployeesSelect {
    margin: 10px 0;
    padding: 5px;
    width: 120px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
  }

  .Roaster__employeesDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .Roaster__employeeInputs {
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-top: 20px;
  }
  
  .Roaster__employeeInputs input {
    padding: 5px;
    width: 250px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Montserrat", serif;
    font-weight: 400;
  }

  .Roaster__picupDropTime{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .Roaster__picupDropTime label{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  

  .Roaster__picupDropTime input{
    height: 35px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  .Roaster__createButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Roaster__createButton:hover {
    background-color: #1e6ed0;
  }
  